<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site created by Mohammad Hassan. Its uses data from mapbox.com and dark sky api! </p>
        <img src="img/mohammad.jpeg" alt="" class="portrait">
    </div>
    {{>footer}}
</body>

</html>